



.button-inner {
    width: 100%;
    border: 1px solid rgba(173, 173, 173, 0.25);
    height: 100%;
    --inset: 0.035em;
    position: relative;
    z-index: 1;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(135deg,
    rgba(239,240,243,0.5),
    rgba(239,240,243,0.5));
    transition: box-shadow 300ms ease, clip-path 250ms ease,
        background-image 250ms ease, transform 250ms ease;
    will-change: box-shadow, clip-path, background-image, transform;
    overflow: clip;
    clip-path: inset(0 0 0 0 round 999vw);
    
    box-shadow:
        /* 1 */
    
        /* 2 */
        -0.05em -0.05em 0.05em 0 inset rgba(105, 105, 105, 0.25),
        /* 3 */
        0 0 0 0 inset rgba(5, 5, 5, 0.1),
        /* 4 */
        0 0 0.05em 0.2em inset rgba(255, 255, 255, 0.25),
        /* 5 */
        0.095em 0.15em 0.1em 0 inset rgb(255, 255, 255, 1),
        0.095em 0.15em 0.1em 0 inset rgb(185, 185, 185),
       
        /* 6 */
        0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
        /* 7 */
        /* -0.2000em -0.015em 0.1em 0.1em inset rgba(212,215,223, 1); */
        -0.08em -0.15em 0.1em 0.05em inset rgba(212,215,223,0.7);
        /* -0.0075em -0.0055em 0.1em 0.2em inset rgba(212,215,223, 1); */
}


  .shineOverlay {
    background:
      radial-gradient(
        ellipse at 90% 0%,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(192, 193, 198, 0.1) 50%,
        rgba(191, 192, 195, 0.1) 100%
      );
  }
    /* background: linear-gradient(215deg,#e6e6e6 0%,rgba(0, 0, 0, 0) 49%, rgba(128, 128, 128, 0.2) 51%); */
