@import "tailwindcss";


@theme {
  --primary-gradient: linear-gradient(
    to bottom,
    var(--g2),
    var(--g4)
  );
  
  --frost-gradient: repeating-linear-gradient(
    to right bottom,

    var(--frost-gradient1) 0%,
    var(--frost-gradient2) 49%,
    var(--frost-gradient3) 100%
  );

  --color-black: #000113;
  --color-white: #fff;
  --color-violet: #3b3c98;

  --font-sans: "Poppins", sans-serif;
  --font-mono: "monospace";
}


@utility circular-fadeout {
  --mx: 90%;
  --my: -30%;
  --fadeStart: 15%; /* how far up the solid part goes */

  /* 1) radial window, 2) bottom→top fade (white at bottom → transparent at top) */
  -webkit-mask-image:
    radial-gradient(circle at var(--mx) var(--my), #fff 50%, transparent 95%),
    linear-gradient(to bottom, #fff 0%, #fff var(--fadeStart), transparent 100%);
  mask-image:
    radial-gradient(circle at var(--mx) var(--my), #fff 50%, transparent 95%),
    linear-gradient(to bottom, #fff 0%, #fff var(--fadeStart), transparent 100%);

  -webkit-mask-composite: source-in; /* intersect */
  mask-composite: intersect;

  -webkit-mask-repeat: no-repeat, no-repeat;
  mask-repeat: no-repeat, no-repeat;

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-black: #000113;
  --color-white: #fff;
  --color-violet: #ffafaf;

  --frost-gradient1: rgba(255, 255, 255, 0.27);
  --frost-gradient2: rgba(0, 0, 0, 0.39);
  --frost-gradient3: rgba(255, 255, 255, 0.04);

  /* --g1:#ffffff; */
  --g1:#ffffff;
  --g2:#ffafaf 18%;
  --g3:#ff0303 58%;
  --g4:#ff0000 50%;

	--silver-button-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(128, 128, 128, 0.06) 9px 10px 4px -1px;
  --silver-button-shadow-inset: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

